@charset "UTF-8";

/* 공통 스타일 */
* {margin: 0; padding: 0;}
#container {width: 1200px; margin: 30px auto 100px;}
ul li {list-style: none;}
a {text-decoration: none;}

/* 상단메뉴 - header 스타일 */
header {height: 80px; background: #99f;}
header #logo {width: 20%; float: left; line-height: 80px;}
#logo h1 a {color: #df9; padding-left: 24px; font-style: italic;}
#logo h1 a:hover {color: #eee;}
header nav {width: 70%; float: right;}
#topMenu {line-height: 80px; padding-left: 150px;}
#topMenu li {float: left; margin: 0 20px;}
#topMenu li a {color: #fee; padding: 0 20px;}
#topMenu li a:hover {color: #444;}

/* 하단메뉴 - footer 스타일 */
footer {height: 80px; border-top: 2px solid #222; clear: both;}
#bottomMenu {margin: 10px 20px;}
#bottomMenu li {float: left; 
				margin: 10px 0;
				padding: 0 10px; 
				border-right: 1.5px solid #aaa;
				}
#bottomMenu li a {color: #444;}
#bottomMenu li:last-child{border: none;}

/* main 스타일 */
#main {margin: 40px auto; width: 1000px; height: 600px;}
#main h1 {color: #11f; font-style: italic; padding: 20px 60px; text-align: center;}
#main .main_img {text-align: center;}
#main .main_img img {border-radius: 5px;}
#main .newboard {margin: 20px;}
#main .newboard h3 {margin: 20px;}
#main .newboard p {line-height: 2.5;}

/* 회원 가입 스타일 */
#join {width: 500px; margin: 20px auto;}
#join form {margin: 20px auto;}
#join form ul li {margin: 20px}
form fieldset {margin-bottom: 16px;}
form button {padding: 5px;}
form label {width: 120px; float: left; padding-left: 20px;}
form input {padding: 5px;}
#join button {width: 100px; padding: 5px;}

/* 로그인 스타일 */
#login {width: 500px; margin: 20px auto 100px; border-collapse:collapse;}
#login form {margin: 30px auto;}
#login form ul li {margin: 30px}
form button {width: 100%; padding: 10px 0;}
form label {width: 120px; float: left; padding-left: 20px;}
form input {padding: 5px;}
#login .error{color: #b00; margin-top: 16px; font-size: 0.9rem;}

/* 회원 목록 스타일 */
#memberlist {width: 750px; margin: 20px auto;}
#memberlist table {width: 750px; margin: 20px auto;}
#memberlist table, th, td {border: 1px solid #ccc; 
						   border-collapse: collapse;
						   text-align: center;}
table th, td {padding: 10px;}
table thead {background: #eee;}
#memberlist .logout {text-align: right;}

/* 회원 정보 스타일 */
#memberview {width: 450px; margin: 20px auto;}
#memberview table {width: 450px; margin: 20px auto;}
#memberview table, th, td {border: 1px solid #ccc; 
						   border-collapse: collapse;
						   text-align: center;}
table th, td {padding: 10px;}
table input { width: 80%; line-height: 1.6;}

/* 게시글 목록 스타일 */
#boardlist {width: 750px; margin: 20px auto;}
#boardlist table {width: 750px; margin: 20px auto;}
#boardlist table, th, td {border: 1px solid #ccc; 
						   border-collapse: collapse;
						   text-align: center;}
table th, td {padding: 10px;}
table thead {background: #eee;}
#boardlist button {padding: 10px;}
.boardlist_button {display:flex; justify-content: space-between;}
.pagination {text-align: center;}
.pagenation a {margin: 5px;}
#boardlist form {margin: 30px 0;}
#boardlist form select {padding: 5px 10px;}
#boardlist form input {width: 535px;}
#boardlist form button {padding: 3px 10px; width: 100px;}

/* 글작성 스타일 */
#writeform {width: 600px; margin: 20px auto;}
#writeform table {width: 600px; margin: 20px auto;}
#writeform table, th, td {border: 1px solid #ccc; 
						   border-collapse: collapse;
						   text-align: center;}
#writeform input {width: 600px; height: 25px; padding: 5px;}
#writeform textarea{width: 600px; height: 500px; resize: none; overflow-y: scroll auto; padding: 5px;}
table th, td {padding: 10px;}
table thead {background: #eee;}
#writeform button {width: 100px; padding: 10px;}
.ud_btn{float: left;}
.list_btn{float: right;}

/* 글 상세 스타일 */
#detail {width: 600px; margin: 20px auto;}
#detail table {width: 600px; margin: 20px auto;}
#detail table, th, td {border: 1px solid #ccc; 
						   border-collapse: collapse;
						   text-align: left;}
#detail input {width: 600px; height: 25px; padding: 5px;}
#detail textarea{width: 600px; height: 500px; resize: none; overflow-y: scroll auto; padding: 5px;}
#detail button {padding: 3px 10px; width: 100px;}

/* 댓글 영역 스타일 */
#replyform input[type="submit"]{width: 60px; height: 40px;}
#replyform textarea {height: 100px; margin-top:10px;}
.reply {border-top: 1px dotted #ccc;}
.reply p {margin: 20px 0; padding: 5px 0; font-size: 0.9rem; color: #444;}
.reply p:nth-of-type(1) {white-space: pre-line; line-height: 1.5;}



